#mapContent {
    height: 400px;
    width: 100%;
   }

.carousel-item{
    height:320px;
    width:1230px;
}
.caro{
    padding: 20px;
}

#countrySubmit {
 margin-top: 10px; 
 
}
#citySubmit {
    margin-top: 10px;
}



#footer {
    width: 100%;
}

body { 
    /* The image used */
    background-image: url("../images/pexels-photo-326311.jpeg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

