
.carousel-item{
    height:320px;
    width:1230px;
}
.caro{
    padding: 20px;
}

#countrySubmit {
 margin-top: 10px; 
 
}

.card{
    opacity: .85;
}


#footer {
    width: 100%;
}

body { 
    /* The image used */
    background-image: url("../images/mountains-night-clouds-lake.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
} 

/* fix coloring make the text bolder and format with card colors */

#info{
    background-color: #494E6B;
    color: white;
    opacity: .75;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
h6,
p{
    padding:10px;
}
h5{
    padding:5px;
}
h2,
#events{
    background-color: #494E6B;
    color: whitesmoke;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


#mapContent {
    height: 465px;
    width: 100%;
   }

.caro{
    padding: 20px;
    margin-top: 60px;
    
}
#countrySubmit {
 margin-top: 10px; 
 
 
}
#citySubmit {
    margin-top: 20px;
    
}
#weath{
    margin-top: 20px;
    margin-right: 5px;
    
}

#citySearch {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
    width: 240px;
    
}